.gradle/
build/
!gradle-wrapper.jar

logs/
allure-report/
allure-results/

.idea/
*.iml
.vscode/
.settings/
bin/
out/

.DS_Store
Thumbs.db

*.log
*.pid
*.swp
*.swo

local.properties
.gradletasknamecache
gradle-app.setting
.project
.classpath
